<!DOCTYPE html>
<html>
<head>
  <title>Title of the document</title>
</head>

<body>

 
  <% url = "https://miami.craigslist.org/search/#{choice}"
    response = HTTParty.get(url)
    html = response.body
    dom = Nokogiri::HTML(html)
    links = dom.css("a.hdrlnk") %>

   <%= i = 1 
    while i < links.length
      links.each do |link|
        puts "#{i} #{link.to_str} Link: #{link}",
        ""
        i += 1
      end
    end
  end %>


</body>

</html>

